<!DOCTYPE html>
<html>
<head>
  <title>
    Welcome to my first Sinatra site
  </title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    |
    <a href="/contact">Contact Us</a>
  </nav>
  <hr>
  <%= yield %>
</body>
</html>
