html {

}

body {
    background-color: #b0c4de;
    width: 850px;
    margin-left: 250px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

h1, h2 {
	background-color: white;
	text-align: center;
	padding-top: 30px;
}

#header {
	width: 850px;
	height: 200px;
	background-color: white;
	border-color: black;
	border: 5px;
}

#footer {
	width: 850px;
	height: 150px;
	background-color: white;
	margin-top: 20px;
}

#paragraph {
	width: 70%;
	padding: 20px;
	background-color: white;
	display: inline-block;
}

#wigdet {
	background: grey;
	height: 500px;
	width: 30%;
}

p {
padding: 10px;
background-color: white;
}