body {
    background-color: #b0c4de;
    width: 500px;
    margin-left: 250px;
}

h1 {
	background-color: white;
	position: center;
}

#header {
	width: 850px;
	height: 200px;
	background-color: white;
}