<!DOCTYPE html>
<html>
<head>

	<title>Welcome to my app</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<a href="/">Home</a>
	
	<a href="/contact">Contact Us</a>
	<hr>
	
<%= yeild %>
</body>

</html>
